.card-new{
    height: 700px;
    position: relative;
}

@media screen and (max-width:576px) {
    .card-new{
        height: 880px;
    }
    .btn-center{
        text-align: center;
        margin-bottom: 10px;
    }
    .margin-left{
        margin-left: 70px;
        margin-bottom: 10px;
        padding: 0;
        margin-top: 0;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
    .card-new{
        height: 850px;
    }
    .btn-center{
        text-align: center;
    }
    .margin-left{
        margin-left: 50px;
        margin-bottom: 10px;
        padding: 0;
    }

}
